.homepage {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.add-edit-input {
    position: absolute;
    top: 20px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 25px;
    padding: 5px 20px;
}

.add-confirm-icon {
    position: absolute;
    transform: scale(2);
    top: 27px;
    right: 750px;
    cursor: pointer;
    font-size: 24px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.todo>h1 {
    width: 500px;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    margin: 0 10px;
    flex: 1;
}

.edit-button,
.delete-button {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.delete-button {
    background-color: #dc3545;
    margin-left: 10px;
}

.logout-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    background: rgb(0, 187, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    transition: background-color 0.3s ease;
    border: none;
}

.logout-icon:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .add-confirm-icon {
        right: 20px;
    }
    .todo>h1 {
        width: auto;
        max-width: 90%;
    }
    .logout-icon {
        bottom: 20px;
        right: 20px;
    }
}