@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
.welcome {
    height: 100vh;
    width: 100vw;
    background-image: url('C:\Users\titus thuo\Downloads\background1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.welcome>h1 {
    font-family: "Changa One";
    font-weight: normal;
    font-size: 135px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.login-register-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
}

.login-register-container>input {
    height: 30px;
    width: 80%;
    border: 1px solid gray;
    outline: none;
    margin-bottom: 15px;
    font-size: 25px;
    padding: 5px;
}

.login-register-container>button {
    padding: 5px 20px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.sign-in-register-button {
    background: linear-gradient(122.19deg, #20da45 1.89%, #2a00d5 113.56%);
    font-size: 20px;
    margin-top: 10px;
    font-family: "Changa One";
    font-weight: normal;
    color: white;
}

.create-account-button {
    background: linear-gradient(122.19deg, #20da45 1.89%, #ff5733 113.56%);
    font-size: 20px;
    margin-top: 10px;
    font-family: "Changa One";
    font-weight: normal;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.reset-password-button {
    background-color: #ff5733;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-password-button:hover {
    background-color: #d5000b;
}

@media screen and (max-width: 768px) {
    .login-register-container {
        padding: 10px;
    }
    .login-register-container>input {
        width: 100%;
        font-size: 20px;
    }
    .create-account-button {
        font-size: 16px;
    }
    .reset-password-button {
        font-size: 14px;
    }
    .todo-svg {
        top: 50%;
        right: 20px;
        left: 10px;
    }
}